$darkBase: #37474F;
$lightBase: #ECEFF1;

.emp-details{
    padding: 5vh}

.navigation{
   background-color: $darkBase}

.tabs-title{
    display: inline-block}

.is-active{
    background: $lightBase}